<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Registration </h1>
    <form id="reg-form">
        <input type="text" autocomplete="off" id="username" placeholder="Username" />
        <input type="text" autocomplete="off" id="email" placeholder="Email" />
        <input type="password" autocomplete="off" id="password" placeholder="Password" />
        <input type="submit" value="Register!" />
    </form>

    <script>
        const form = document.getElementById('reg-form');
        form.addEventListener('submit', registerUser);

        async function registerUser(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const email = document.getElementById('email').value;

            const result = await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    email,
                    password
                })
            }).then((res) => res.json())

            if (result.status === 'ok') {
                alert("Please Confirm using Email!");
                window.location.replace('http://localhost:3000/');
            } else {
                alert(result.error);
            }
        }
    </script>
</body>
</html>